:local(.allContent) {
  -ms-box-orient: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

:local(.rowContent) {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

:local(.titleAndDescription) {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  white-space: pre-wrap;
}

:local(.sectionTitle) {
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 25px;
  margin-left: 40px;
}

:local(.imageContent) {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

:local(.descriptionContent) {
  width: 550px;
  font-family: Archivo;
  line-height: 25px;
  font-size: 14px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

:local(.separatorLine) {
  background: black;
  width: 850px;
  height: 0.4px;
  align-self: center;
}

:local(.descriptionWords) {
  white-space: pre-wrap;
}
