:local(.allContent) {
  display: block;
  margin: auto;
  text-align: center;
  padding: 0px;
}

:local(.tableStyle) {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

:local(.rowWithBorder) {
  border-bottom: thin solid black;
}

:local(.sectionTitle) {
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 45px;
  margin-left: 20px;
  display: block;
  text-align: start;
}

:local(.descriptionContent) {
  width: 550px;
  font-family: Archivo;
  line-height: 25px;
  font-size: 14px;
  text-align: justify;
  padding: 20px;
}

:local(.imageContent) {
  padding: 0px;
  /* max-width: 140px; */
}

/* for ResumeEntry */
:local(.titleAndDescription) {
  white-space: pre-wrap;
}

:local(.descriptionWords) {
  white-space: pre-wrap;
  font-family: Archivo;
}
