:local(.contentBox) {
  display: block;
  padding-top: 40px;
  margin: auto;
  text-align: center;
}

:local(.introductionText) {
  margin-bottom: 20px;
  font-size: smaller;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

:local(.descriptionBox) {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

:local(.headingStyle) {
  font-family: Archivo;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}

:local(.descriptionStyle) {
  font-family: Archivo;
  line-height: 25px;
  text-align: justify;
}

:local(.iconStyle) {
  /* margin: 20px; */
  max-height: 100%;
  align-self: center;
}

:local(.listBox) {
  display: block;
  text-align: center;
}

:local(.horizontalList) {
  display: block;
}

:local(.partBox) {
  display: inline-block;
}

:local(.imageContainer) {
  height: 100px;
  width: 100px;
  border: 1px solid;
  border-color: black;
  margin: 0 auto;
}

:local(.footnote) {
  font-family: Archivo;
  font-style: italic;
  line-height: 20px;
  font-size: medium;
  max-width: 650px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

:local(.link) {
  color: cadetblue;
}
:local(.link):visited {
  color: cadetblue;
}
