:local(.title) {
  text-align: center;
  color: black;
}

:local(.contentBox) {
  /* -ms-box-orient: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-grow: 1; */
  display: block;
  margin: auto;
  text-align: center;
  padding: 30px;
}

:local(.profilepic) {
  height: 150px;
  width: 150px;
  align-self: center;
  margin: 20px;
  margin-bottom: 40px;
}

:local(.text) {
  font-size: 16px;
  line-height: 30px;
}

:local(.emojiImage) {
  height: 70px;
  width: 70px;
  padding: 15px;
  float: left;
  margin: 0 auto;
}

:local(.emojiInfo) {
  height: 60px;
  padding-top: 40px;
  display: block;
  text-align: center;
  margin: auto;
}

:local(.mainInfo) {
  display: flex;
  flex-direction: column;
  text-align: justify;
  max-width: 550px;
  margin: auto;
}

:local(.emojiList) {
  display: inline;
  margin: 0 auto;
  background-color: black;
  /* margin-left: auto;
  margin-right: auto; */
}

:local(.helper) {
  opacity: 0.7;
  display: block;
  margin: auto;
}

/* testing */

:local(.emojiListContainer) {
  display: block;
  text-align: center;
}
/* Container for flexboxes */
.emojiRow {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.emojiColumn {
  flex: 16.6%;
  padding: 0px;
  display: flex;
  justify-content: center;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 850px) {
  .emojiColumn {
    flex: 33.3%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .emojiRow {
    flex-direction: column;
  }
}
