:local(.title) {
  text-align: center;
  color: black;
}

:local(.contentBox) {
  display: block;
  margin: auto;
  text-align: center;
  padding: 30px;
}

:local(.profilepic) {
  height: 150px;
  width: 150px;
  align-self: center;
  margin: 20px;
  margin-bottom: 40px;
}

:local(.text) {
  font-size: 16px;
  line-height: 30px;
}

:local(.emojiImage) {
  height: 60px;
  width: 60px;
  padding: 10px;
  margin: 0 auto;
}

:local(.emojiInfo) {
  height: 60px;
  padding-top: 40px;
  display: block;
  text-align: center;
  margin: auto;
}

:local(.mainInfo) {
  display: flex;
  flex-direction: column;
  text-align: justify;
  max-width: 550px;
  margin: auto;
}

:local(.helper) {
  opacity: 0.7;
  display: block;
  margin: auto;
}

:local(.emojiRow) {
  /* display: inline-block; */
  text-align: center;
}

:local(.emojiColumn) {
  display: inline-block;
}
