:local(.hello) {
  text-align: center;
  font-size: 40px;
}

:local(.text) {
  text-align: center;
}

:local(.more) {
  text-align: center;
}

:local(.contentbox) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
