:local(.hello) {
  text-align: center;
  font-size: 40px;
  font-family: monospace;
  margin-top: 50px;
}

:local(.text) {
  text-align: center;
}

:local(.more) {
  text-align: center;
}

:local(.contentBox) {
  display: block;
}

:local(.contactBox) {
  margin-top: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}

:local(.contactIcon) {
  height: 35px;
  margin: 5px;
}
